# Ignore everything
*

# Unignore
!*.asm
!README

# Ignore common binary files
*.o
*.exe
*.bin
*.hex

# Ignore editor swap files
*.swp
.*.swp

# Ignore build folders
build/
bin/
obj/
*.vs/
*.idea/

# Ignore logs and caches
log/
*.log
cache/

# Ignore system files
Thumbs.db
.DS_Store
